<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#00BCD4" />
    <title>Guilherme Balog | Links</title>
    <link rel="icon" href="https://github.com/phantom037/website/blob/main/DL.jpg?raw=true" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="template2.css" />
  </head>
  <body>
    <img
      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/07c31f1d-5439-4054-b238-11d37704495a/db0vdqd-ee38042d-fdea-40b9-945b-b3ebda240536.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA3YzMxZjFkLTU0MzktNDA1NC1iMjM4LTExZDM3NzA0NDk1YVwvZGIwdmRxZC1lZTM4MDQyZC1mZGVhLTQwYjktOTQ1Yi1iM2ViZGEyNDA1MzYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ycx8zuNNoL62lgvqEbvAZ8GGliqcL77_CU9cUe3wrbY"
      width="460"
      height="460"
      alt="Ran Mori"
    />

    <header>
      <p>@Onee Chan</p>
      <h1>Ran Mori</h1>
    </header>
    <nav>
      <ul>
        <li id="linkedin">
          <a href="" target="_blank">
            <i class="fab fa-linkedin"></i>
            LinkedIn
          </a>
        </li>
        <li id="github">
          <a href="" target="_blank">
            <i class="fab fa-github"></i>
            Office
          </a>
        </li>
        <li id="instagram">
          <a href="https://www.instagram.com/ran_.mori/" target="_blank">
            <i class="fab fa-instagram"></i>
            Instagram
          </a>
        </li>
        <li id="spotify">
          <a href="https://open.spotify.com/playlist/6qcnrg8qAcC0GnPFaFiM6O" target="_blank"> 
            <i class="fab fa-spotify"></i>
            Spotify
          </a>
        </li>
        <li id="blog">
          <a href="" target="_blank">
            <i class="fas fa-book"></i>
            Blog
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
