<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#00BCD4" />
    <title>Beetap Caard</title>
    <link rel="icon" href="https://github.com/phantom037/website/blob/main/DL.jpg?raw=true" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="template2.css" />
  </head>
  <body>
    <img
      src="https://scontent-syd2-1.xx.fbcdn.net/v/t39.30808-6/313416455_1158312251437607_3891388898693540116_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Nb8osKfpvwAAX90fPBw&_nc_ht=scontent-syd2-1.xx&oh=00_AfAiqwt85SmPgZ_oGe048c09vILTUmriNOrRyfVvnSDb_g&oe=636EBCC2"
      width="460"
      height="460"
      alt="Sky"
    />

    <header>
      <p>@dairycow</p>
      <h1>Sky Tran</h1>
    </header>
    <nav>
      <ul>
        <li id="facebook">
          <a href="https://www.facebook.com/thanh.tranngoc.754703" target="_blank">
            <i class="fab fa-facebook"></i>
            Facebook
          </a>
        </li>
        <li id="instagram">
          <a href="https://www.instagram.com/infern0nline/" target="_blank">
            <i class="fab fa-instagram"></i>
            Instagram
          </a>
        </li>
        <li id="spotify">
          <a href="https://open.spotify.com/playlist/6qcnrg8qAcC0GnPFaFiM6O" target="_blank"> 
            <i class="fab fa-spotify"></i>
            Spotify
          </a>
        </li>
        <li id="blog">
          <a href="https://dobaukp.company.site/" target="_blank">
            <i class="fas fa-book"></i>
            Store
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
